/* Universal Selector. */
* {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

h1 {
    font-size: 35px;
    font-weight: normal;
}